spring:
  application:
    name: redo
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/redo_db
    username: redo
    password: mypassword

  jdbc:
    template:
      query-timeout: 30

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  servlet:
    context-path: /api

freee:
  oauth:
    client-id: ${FREEE_CLIENT_ID:}
    client-secret: ${FREEE_CLIENT_SECRET:}
    redirect-uri: ${FREEE_REDIRECT_URI:http://localhost:3000/freee/callback}
    authorize-url: https://accounts.secure.freee.co.jp/public_api/authorize
    token-url: https://accounts.secure.freee.co.jp/public_api/token
    revoke-url: https://accounts.secure.freee.co.jp/public_api/revoke